flows.json
[
    {
        "id": "f2e963f994c4c648",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5e8e3903960b458",
        "type": "telegram bot",
        "botname": "joao bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "098db1c6cb286f53",
        "type": "telegram bot",
        "botname": "",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7e2c78fcaabc26e7",
        "type": "telegram bot",
        "botname": "joao",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "51c0290953c36ab0",
        "type": "telegram receiver",
        "z": "f2e963f994c4c648",
        "name": "",
        "bot": "e5e8e3903960b458",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "e7ebb24dcefe229e",
                "7fd476afaaf793b9"
            ],
            [
                "4f1c3d9c268c10bd"
            ]
        ]
    },
    {
        "id": "a7a2d28c107fe5b2",
        "type": "telegram sender",
        "z": "f2e963f994c4c648",
        "name": "",
        "bot": "e5e8e3903960b458",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "431c7e2489a9733a"
            ]
        ]
    },
    {
        "id": "4f1c3d9c268c10bd",
        "type": "function",
        "z": "f2e963f994c4c648",
        "name": "function 2",
        "func": "msg.payload.content = \"ERRO\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "a7a2d28c107fe5b2"
            ]
        ]
    },
    {
        "id": "2fa168dfb60f6719",
        "type": "function",
        "z": "f2e963f994c4c648",
        "name": "function 3",
        "func": "\nif (msg.payload.output.generic.length > 1) {\n    msg.payload = {\n        chatId: msg.chatId\n        , type: \"message\"\n        , content: msg.payload.output.generic.map(item => item.text).join(\"\\n\")\n    }}\nelse {\n    msg.payload = {\n        chatId: msg.chatId\n        , type: \"message\"\n        , content: msg.payload.output.generic[0].text\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "7acc0b9f7f1d57ea",
                "a7a2d28c107fe5b2"
            ]
        ]
    },
    {
        "id": "481b1fe898cbea3c",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "23f37c9859c7cf90",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "7acc0b9f7f1d57ea",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "431c7e2489a9733a",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "e7ebb24dcefe229e",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "beb843941e3a0607",
        "type": "watson-assistant-v2",
        "z": "f2e963f994c4c648",
        "name": "meuBot",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/5c0d0095-524e-49b6-96a9-d25a08c93fbe",
        "assistant_id": "96dade92-445e-47dc-94b1-2c6c1aca1a21",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "23f37c9859c7cf90",
                "2fa168dfb60f6719"
            ]
        ]
    },
    {
        "id": "7fd476afaaf793b9",
        "type": "function",
        "z": "f2e963f994c4c648",
        "name": "function 1",
        "func": "msg.payload.session_id = msg.payload.chatId\nmsg.chatId = msg.payload.chatId\nmsg.payload = msg.payload.content\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "481b1fe898cbea3c",
                "beb843941e3a0607"
            ]
        ]
    },
    {
        "id": "4d1e0691e7dea0dc",
        "type": "watson-speech-to-text",
        "z": "f2e963f994c4c648",
        "name": "watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "kEd_Szz_q44DiRSnuDI9zCisWu7tZG2ETCs-XzaL3ddr",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/c7e87935-d51b-4b68-81ff-4b9ff34844a2",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "d3b846937bdd6b26"
            ]
        ]
    },
    {
        "id": "929b574b6af1d886",
        "type": "microphone",
        "z": "f2e963f994c4c648",
        "name": "mic",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "2f062ab0de9a084c",
                "4d1e0691e7dea0dc"
            ]
        ]
    },
    {
        "id": "d3b846937bdd6b26",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "Retorno STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f062ab0de9a084c",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "Captura mic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 360,
        "wires": []
    },
    {
        "id": "91def335b34b13fd",
        "type": "telegram receiver",
        "z": "f2e963f994c4c648",
        "name": "",
        "bot": "e5e8e3903960b458",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "95b96bd117086eb2",
                "d2fdc5e663a8ee25"
            ],
            []
        ]
    },
    {
        "id": "d2fdc5e663a8ee25",
        "type": "function",
        "z": "f2e963f994c4c648",
        "name": "Proc entrada",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "0fbce39546df57d1"
            ]
        ]
    },
    {
        "id": "95b96bd117086eb2",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "Entrada audio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 520,
        "wires": []
    },
    {
        "id": "0fbce39546df57d1",
        "type": "watson-speech-to-text",
        "z": "f2e963f994c4c648",
        "name": "watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "kEd_Szz_q44DiRSnuDI9zCisWu7tZG2ETCs-XzaL3ddr",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/c7e87935-d51b-4b68-81ff-4b9ff34844a2",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "f6e4c0f3dd8d0701"
            ]
        ]
    },
    {
        "id": "f6e4c0f3dd8d0701",
        "type": "debug",
        "z": "f2e963f994c4c648",
        "name": "Saída texto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 520,
        "wires": []
    }
]